body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ebb5fa;
    margin: 0px;
    padding: 0px;
}
.iconlogo{
    position: relative;
    float:left;
    height: 550px;
    margin: 0;
    padding: 4px;
    width: 350px;
    display: block;
    z-index: 2;
}

.titulo{
  color: black;  
  font-weight: bolder;
  font-size: 20px;
  text-align: right;
  top: 2px;
  margin: 4px;
  padding: 4px;
  display: inline;
  float:right;
  position: relative;
 
}
.barra{
    background-color: #AB63BF;
    position: fixed;
    display: inline;
    top: 0;
    left: 0;
    right: 0;
    height: 35px;
    margin: 0px;
    padding: 5px;
}
.principal{
    font-size: 650%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #AB63BF;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    opacity: 85%;
    position: absolute;
    left:90px;
    top: 70px;
}
.apresentacao{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 115%;
    color: white;
    background-color: #AB63BF;
    opacity: 75%;
    border-radius: 20px;
    padding: 6px;
    margin: 6px;
    position: absolute;
    left: 130px;
    bottom: 170px;
}

footer{
    background-color: #AB63BF;
    position: fixed;
    bottom: 1px;
    width: 15%;
    margin: 10px;
    padding: 12px;
    border-radius: 25px;
}

footer> li{
    display: block;
    padding: 25px 0 25px 0;
}
footer> a{
    color: black;
    padding: 0 40px 0 40px;
    text-decoration:solid;
    text-align: center;
}

.image{
    position: absolute;
    padding: 2px;
    margin: 2px;
    top: 135px;
    right: 0.10px;
}


